
/* 全体 */

body {

    background-image: url(../Resource/back.png);

    color: white;

}

#MainRain {

    width: 785px;

    height: 550px;

    seamless;

    scrolling: no;

    float: left;

}


#today {

    /*	background-color: yellow;*/

    height: 260px;

    width: 530px;

    float: left;

/*    border: solid 1px;*/

}


#tomorrow {

    height: 260px;

    width: 530px;

    float: left;
    
/*    border: solid 1px;*/

}

.info {
    
    width: 530px;
    
    height: 260px;
    
}


/* 天気情報 */
.weather {

/*        border: solid 1px;*/

    width: auto;

/*    float: left;*/

    font-size: 52px;

    height: 52px;

    padding-left: 15px;

}


.cent {

/*        border: solid 1px;*/

}

.centdata {

    font-size: 60px;
    
/*    border: solid 1px;*/
    
    text-align: center;

}

.max {

/*    color: red;*/

    background-color: red;
}

.min {

/*    color: skyblue;*/
    
    background-color: skyblue;
    
    color: black;

}

.period {

/*        border: solid 1px;*/

}

.perioddata {

/*    border: solid 1px;*/

    font-size: 48px;
    
    padding-right: 15px;

    color: black;
    
    text-align: center;
}

.t00-06 {

/*    color: LemonChiffon;*/

    background-color: LemonChiffon;
    
}

.t06-12 {

    background-color: yellow;

}

.t12-18 {

    background-color: Orange;

}

.t18-24 {

    background-color: Chocolate;

}



/* メッセージ系 */
.msg {

/*        border: solid 1px;*/

    height: auto;

}


#systemMsg {

    height: 20px;
    
    float: left;
    
    width: 530px;
    
/*    border: solid 1px;*/
    
}

#todayMsg1 {

    font-size: 32px;
    
}

#tomorrowMsg1 {

    font-size: 32px;

}

.fire {

    color: red;

}

.nofire {

    color: lightblue;

}

.recycle {

    color: yellow;

}


/* 時刻表示 */


#dsptime {
    
    font-size: 150px;
    
}


#date {

/*        border: solid 1px;*/

    float: left;
}

#time {

/*        border: solid 1px;*/

    padding-left: 50px;

}

