

h1 {


    margin: 0;


}


dl {


    margin: 0;


}


p {


    margin: 0;


}


dt {

    height: auto;

    margin: 0;
/*    margin: 20px,10px;,20px,10px;*/


}


dd {


    margin: 0;


}

body {
    background-image: url(../Resource/back.png);
    color: white;
}


#MainRain {


    width: 785px;


    height: 550px;


    seamless;


    scrolling: no;


    /*border: solid 1px;*/


    float: left;


}


#date {


/*    border: solid 1px;*/


    /*background-color: red;*/


    width: 250px;


    height: 48px;


    float: left;


    font-size: 48px;


}


#time {


/*    border: solid 1px;*/


    /*background-color: red;*/


    width: 130px;


    /*height: 50px;*/


    font-size: 48px;


    float: left;


    margin-left: 20px;


}


#today {


    /*	background-color: yellow;*/

    height: 300px;

    width: 420px;


    float: left;

/*    border: solid 1px;*/

}


.msg {


/*    border: solid 1px;*/


    height: 48px;


    width: 400px;


    float: left;


}


.title {


/*    border: solid 1px;*/


    width: 200px;


    float: left;


    font-size: 32px;


    height: 32px;


}


.weather {


/*    border: solid 1px;*/


    width: 200px;


    float: left;


    font-size: 32px;


    height: 32px;


}


.subtitle {


/*    border: solid 1px;*/


    width: 100px;

    font-size: 24px;

}


.cent {


/*    border: solid 1px;*/


    width: 200px;


    height: 140px;


    float: left;


}


.max {


/*    border: solid 1px;*/


    width: 200px;

    font-size: 32px;

    color: red;
    
}


.min {


/*    border: solid 1px;*/


    width: 200px;
    
    font-size: 32px;

    color: skyblue;

}


.period {


/*    border: solid 1px;*/


    width: 200px;


    height: 140px;


    float: left;


}


.t00-06 {


/*    border: solid 1px;*/


    width: 200px;

    font-size: 28px;
    
    color: LemonChiffon;
}


.t06-12 {


/*    border: solid 1px;*/

    width: 200px;

    font-size: 28px;

    color: yellow;
}


.t12-18 {

/*    border: solid 1px;*/

    width: 200px;

    font-size: 28px;

    color: Orange;
}


.t18-24 {


/*    border: solid 1px;*/


    width: 200px;

    font-size: 28px;

    color: Chocolate;
}
#systemMsg {
    height: auto;
}



#todayMsg1 {
    font-size: 28px;
}

#tomorrowMsg1 {
    font-size: 28px;
}

.fire {
    color: red;
}

.nofire {
    color: lightblue;
}

.recycle {
    color: yellow;
}


#tomorrow {
/*    border: solid 1px;*/
}
